* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

@-ms-viewport {
    width: device-width;
}

form {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
}