* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

.custom{
    margin-top: 1px;
    margin-left: 1px;
}

@-ms-viewport {
    width: device-width;
}